body{
    font-family: 'Montserrat', sans-serif;
    background: url('images/background.png');
    height: 100%
}

.btn{
    border: double;
}

.card{
    background-color: transparent;
    border: block;
    border-color: white;
    border: double;
}

.carousel{
    z-index: 0;
}

.carousel-control-prev-icon,
.carousel-control-prev-icon, .card {
    color: white;
}

.element {
    @include clearfix;
  }

footer{
    z-index: 10;
}

.img-circle{
    border-radius: 50%;
    
}

.logo{
    height: 30px;
    filter: invert(100%);
}

@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }

  .navbar{
    z-index: 10;
}

#portfolioContainer{
    height: calc(100vh - 190px);
    overflow: auto;
}

.productCard{
    height: 100px;
}

.sample{
    width: 100%;
    height: auto;
}


.modal-content{
    background-color: lightgray;
}

.sample, iframe{
    border-radius: 5px;
    box-shadow: 2px 2px 4px #000000;
    margin-bottom: 20px;
    max-height: 80%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }




  

