/* body{
    padding-bottom: 150px;
}

footer{
    position: absolute;
    height: 100px;
    bottom: 0;
    width: 100%;
    border-top-width: 10px;

}


.card{
    margin:0 auto;
    float: none;
} */